.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

.image-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  width: 90%; 
  text-align: center;
}

.slide img {
  width: 90%; 
  display: block;
  margin: 0 auto; 
}

.slide-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-top: 10px;
  position: relative;
  padding-left: 5%; /* Add some padding to the left for better alignment */
}

.description, .date {
  margin: 5px 0;
}

.rating {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  align-items: center;
}

.rating i {
  color: gold;
  margin-right: 3px;
}

.button-container {
  margin-top: 5px;
  color: #067bda;
}

.button-container button {
  margin: 5px 5px;
  padding: 10px 20px;
  background-color: #067bda;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
